{% extends "::base.html.twig" %}

{% block title %} Twiggy {% endblock %} 

{% block body %}
    
    {% for i in 1..count %}
        Hello <strong>{{ name|upper }}</strong> # {{ i }}!
    {% endfor %}
    
    <h2>Event Details</h2>
    {{ event.name }} </br>
    {{ event.location }}

{% endblock %}  
